body, html {
	height: 100%;
}

#root {
	height: 100%;
}

.App {
	margin: 0 1rem;
	height: 100%;
	background-color: white;
}

.App-header {
	text-align: center;
}

.App-nav {
	margin-bottom: 2em;
	width: 100%;
	display: flex;
	justify-content: center;
}

.img{
	height: '272px';
}

.App-nav a {
	text-decoration: none;
	color: #36459b;
	margin: 0 1em;
}

.App-nav a:hover {
	text-decoration: underline;
}

.App-nav a:first-child {
	margin-left: 0;
}

.App-link {
	color: #61dafb;
}

#customers {
	font-family: Arial, Helvetica, sans-serif;
	border-collapse: collapse;
	width: 100%;
  }
  
  #customers td {
	border: 1px solid black;
	padding: 8px;
  }
  
  #customers tr:nth-child(even){background-color: #f2f2f2;}
  
  a{
	font-size: 2rem;
	font-weight: bold;
  }
  .img {
	width:80% !important;
  }
  @media screen and (max-width: 1552px) {
	.img {
	  width:80% !important;
	}
	
  }
  @media screen and (max-width: 800px) {
	
	.permachine{
		flex-wrap: wrap;
		display: flex;
		justify-content: center;
	}
	h1,span,b{
		font-size: small;
	}
	button{
		font-size: small !important;

	}
	.secondcol{
		width: 90% !important;
	}
	.firstcol{
		width: 90% !important; 
	}
  }